header {
    padding:1% 1%;
    display:flex;
    background:white;
    width:100%;
  }
  .container{
    height: 2000px;
}
  #navigation {
    margin-left:auto;
    margin-right:3%;
    justify-content:flex-end;
  }
  
  .nav-btn {
      margin:0;
      padding:0;
      cursor: pointer;
      color:black;
  }
  
  .cover{
    width:100%;
    height:150px;
    background-image:url("https://image.ibb.co/eA1z0A/first.jpg");
      background-repeat: no-repeat;
      background-position: center; 
  }
  .description {
    text-align:center;
    font-size:20px;
    padding:7% 20% 7% 20%;
    font-family:proxima-nova;
    font-weight:100;
  }
  body {
    margin:0px;
  }
  #logo img{
    
    text-align: left;
    width:140px;
    height: 17px;
}

#logo {
  margin:auto 0 auto 0;
}

.menu a {
    font-size:12px;
    text-align: right;
    cursor: pointer;
    color: #020e2c;
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s;
    font-family: Segoe UI;
    padding: 10px 40px;
    }
#join{
    padding: 10px 40px;
    border: 2px solid #020e2c;
    color: #020e2c;
    background: white;
    border-radius: 300px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s;
    font-family: Segoe UI;
}
#join:hover{
    color: white;
    background: #020e2c;
}
.news_block{
  text-align: center;
  line-height: 0;
  display: block;
}
#title{
  text-align: center;
  padding: 25px 45px;
}
#title h1{
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.6em;
  color: #231d1f;
}
.row{
  margin-left:15%;
  vertical-align: top;

}
.first_row{
  vertical-align: inherit;
  width:220px;  
  height: 100%;
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  color: #3d9991;
  text-decoration: none;
  text-align:center;
  
}
.first_row img{
margin-top:auto;
 width: 225px;
 height: 225px;
}
.first_row a{
  color: #3d9991;
  text-decoration: none;

}
h3{
  display: block;
}
footer {
  display: block;
  width:100%; 
  height: 100%;
  background-color: black;
  color: rgba(255,255,255,.75);
}

footer .main_footer{
font-family: proxima-nova;
font-weight: 400;
font-style: normal;
font-size: 18px;
letter-spacing: 0px;
line-height: 1.6em;
 padding:2% 4% 4% 4%;
}


.newsletter {
 margin-top:2%;
 text-align:center;
 padding:5%;
 background: #7d9bd9;
 display: block;
 font-size: 15px;
 color: white;
}


html ,body {
 margin:0;
 overflow-x: hidden;
}

#email-input {
 height: 30px;
}

#signup {
 background-color: #020e2c;
 font-size:10px;
 border-radius: 20px;
 padding:10px 20px 10px 20px;
 color:white;
 border:0px;
}

a{
 text-decoration: none;
 color:white;
}
